body {
    margin: 0px;
}

.container {
    padding: 20px 5px;
	background: #86f;
}

.caja {
	background: #047;
	height: 100px;
	width: 100px;
    margin: 20px;
    position: relative;
    animation-name: desplazarse; /* Nombre de la animacion */
    animation-duration: 2s;
    animation-iteration-count: infinite; /*infinite* para que nunca termine/ /* Esto sirve apra ver cuantas veces quieres que se repita la animacion*/
    animation-direction: alternate; /*alternate-reverse Es igual que alternative solo que empieza del otro lado*/;/*alternative* Lo que hace es ir y volver/ /* reverse sirve para que que empieze desde el inal*/ /* Sirve para cambiar la direccion*/
    animation-fill-mode:  forwards; /*both*/ /*forwards /*none /* Define cual va hacer el modo final*/
    animation-delay: 1s; /* Sirve para esperar el tiempo y de ahi comienza */
    animation-timing-function:  cubic-bezier(.08,1.49,.76,.22); /* Esta curva podemos editarla tambien esn el navegador en google ahi podremos editar y copiar el cubic-beizer */
}

@keyframes desplazarse {
    0% /* from */ {
       left: 0;
       background: blue; 
    }

    50% {
        background: red;
    }

    100% /* to */{
       left: 80%;
       background: green; 
    }
}