* {
	scroll-behavior: smooth; /* Sirve para cuando le demos click y no mande mas avajo el efecto o transition sea ma lento */
}

body {
	margin: 0px;
}

.container {
	padding: 20px;
	background: slateblue;
	font-size: 20px;
	/* rtl   ltr */;
	direction: ltr;
	letter-spacing: 5px; /* Sirve apra separar las letras */
}

#content {
	background: red;
	font-size: 50px;
	user-select: none; /* Sirve para que no se pueda eselecionar el texto */
}