body {
    margin: 0px;
}

:root {
    --color-rojo-claro: #f44;
    --color-azul-claro: #66f;
}

div {
    padding: 20px;
    height: 150px;
    width: 150px;
    margin: 30px;
}

.container {
    background: var(--color-rojo-claro);
}

.container-2 {
    background: var(--color-azul-claro);
}