.div-responsive {
    background: #c95;
}

@media screen and (min-width: 400px) AND (max-width: 650px) {
    .div-responsive {
        background: red;
        padding: 10px;
    }
}

@media screen and (min-width: 650px) AND (max-width: 800px) {
    .div-responsive {
        background: green;
        font-size: 30px;
    }
}

@media screen and (min-width: 800px) AND (max-width: 1200px) {
    .div-responsive {
        background: orange;
        margin: 50px;
    }
}

@media screen and (min-width: 1200px) {
    .div-responsive {
        background: #000;
    }
}
