body {
    margin: 0px;
}

.container {
    padding: 20px 5px;
	background: #86f;
}

.caja {
	background: #047;
	height: 100px;
	width: 100px;
	transition-property: left, background; /* Sirve para que no ocupe mucho recursos y cargue rapido*/
	transition-duration: 5s, 2s; /* Sirve para que al pasar el mause por ensima el color dure y cambie 1 segundo*/
	/* transition-delay: 1s;  Sirve para cuando ponga el mouse encima tarde 3 segundos en aparecer y en desaparecer*/
    margin: 30px;
    /* background: inherit;  Sirve apra darle el mismo color de fondo*/
    left: 0;
    position: relative;
}

.container:hover > .caja /* hover  sirve solo cuando el mouse esta encima*/ {
	/* background: inherit;  Sirve apra darle el mismo color de fondo*/
    left: 80%;
    background: red;
}

.caja:first-child {
    transition-timing-function: linear; /* Aqui los cambios siempre lo vamos a ver ala misma velocidad */
}

.caja:nth-child(2) {
    transition-timing-function: ease; /* Aqui los cambios es arrancar con todo y terminar despacio*/
}

.caja:nth-child(3) {
    transition-timing-function: ease-in; /* Aqui arranca despacio y termina con todo */
}

.caja:nth-child(4) {
    transition-timing-function: ease-out; /* Aqui arranca fuerte y termina mas despacio pero un poco mas leve */
}

.caja:nth-child(5) {
    transition-timing-function: ease-in-out; /* Arranca despacio luego acelera y termina despacio */
}