.contact-form{
    font-size: 25px;
}
.contact-form__h2{
    font-size: 2em;
    font-family: 'Georama', sans-serif;
    font-family: 'Palette Mosaic', cursive;
    font-family: 'Style Script', cursive;
    font-family: 'WindSong', cursive;
    color: red;
}