div {
   width: 49%;
   display: inline-block;
   padding: 20px;
   background: #ddd;
}

h1 {
   font-size: 24px;
}

.caja2 {
   background: #bbb;
}

@media only screen and (max-width: 800px) {

	div{
		display: block;
		width: 100%;
	}
}

h1{
	font-size: 20px !important;
}