*{
	font-family: 'Oswald', sans-serif;
}

body{
	margin: 0px;
	padding: 0px;
}

.nav__responsive-ul{
	display: none;
}

.nav__ul{
	margin: 0px;
	padding: 0px;
}

.nav{
	background-color: #48e;
}

.nav__li{
	display: inline-block;
	padding: 10px;
	color: white;
}

.nav__li:hover > a{
	color: grey;
}

.nav__li:hover {
	color: grey;
}

.nav__li a{
	color: white;
	text-decoration: none;
}

.nav__li i{
	box-sizing: border-box;
	text-align: center;
	margin-right: 5px;
}

.nav__responsive-ul{
	margin: 0px;
	padding: 0px;
	text-align: left;
	height: 37px;
}

.nav__responsive-buttom-container{
    position: absolute;
   	width: 100%;
	  font-size: 25px;
	  background-color: #69c;
	  margin-top: -64px;
	  z-index: 100;
}

.nav__responsive-buttom{
	padding: 6px 20px;
	text-align: right;
}

@media only screen and (max-width: 450px){
	.nav__ul{
		display: none;
	}

	.nav__responsive-ul{
		display: block;
		position: absolute;
		width: 100%;
		margin-top: 37px;
		padding-top: 27px;
	}

    .nav__li-container{
		position: relative;
		top: -1000px;
		height: calc(100vh - 64px);
		background-color: #9bf;
		transition: all 1s;
		z-index: 1;
		width: 250px;
		padding-top: 27px;
	}

    .nav__responsive_li{
		width: 100%;
		padding: 9px 20px;
	}

    .nav__responsive_li i{
		box-sizing: border-box;
		text-align: center;
		margin-right: 5px;
		width: 30px;
		color: #016;
	}

    .nav {
		height: 37px;
		width: 100%;
	}

	.nav__responsive_li a{
		text-decoration: none;
		color: #016;
	}

	.nav__responsive_li:hover > a{
		color: black;
	}

	.nav__responsive_li:hover {
		color: black;
	}

	.nav__responsive-ul:hover > .nav__li-container {
        top: -27px;
	}
}
