.container {
	filter: contrast(30);
	background-color: #fff;
}

.caja {
	display: inline-block;
	width: 150px;
	height: 150px;
	background: red;
	margin: 40px;
	border-radius: 50%;
	filter: blur(20px);

}

.caja:first-child {
	animation: trasladar 3s alternate infinite;
}


@keyframes trasladar {
	0% {
		transform: translate(0);
	}

	100% {
		transform: translate(160px);
	}
}