body {
    margin: 0px;
}

.container {
    padding: 20px 5px;
	background: #86f;
}

.caja {
	background: #047;
	height: 80px;
	width: 80px;
    display: flex;
    margin: 20px;
    color: #fff;
    /* transform: translate(100px,100px)/*Y*/ /* Lo que hace es trasladar en en eje X o Y */
    /* transform: scale(2); /*X*/ /*Y*/ /* Sirve para hacer le mas grande o mas pequeño, si es 1 es los mismo que el ancho de la caja si es 2 se duplica*/
    transition: transform 1s;
    transform:translate(50px);
    transform: skew(30deg); /*  es el efecto en el que los laterales (izquierda y/o derecha) aparecen inclinados */
}

.caja:hover {
    /* transform: scale(2) translate(50px); */
}

b {
    margin: auto;
    transform: skew(-30deg);
}