div{
    display: block;
    background-color:green;
    position: absolute;
}

div div{
height: 100px;
width: 100px;
background: yellow;

}


.contenedor{
  position: relative;
  border: 4px solid blue;
  margin: 50px auto;
  height: 450px;
  width: 450px;
}

.caja1 {

}

.caja2{
    right: 0px;
}

.caja3{
   right: 0px;
   bottom: 0px;
}

.caja4{
    bottom: 0px;
}

.caja5{
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    margin: auto;
}