body {
    background: black;
}

.flex-container {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    background: rgb(38, 38, 38);
    margin: 50px 30px;
    padding: 20px;
}

.form {
    min-width: 400px;
    flex: 1;
    text-align: center;
    padding: 30px;
    order: 5;
}

.form__input{
    width: 80%;
    padding: 7px;
    margin: 6px 0;
    border: none;
    border-bottom: 5px  solid blue;
    background: transparent;
    color: white;
}

.form__input:focus {
    background:  linear-gradient( to bottom, transparent, rgb(64, 64, 64));
    outline: none;
    border-bottom: 5px  solid rgb(51, 204, 51);
}

.img-container {
    margin: auto;
}

.form-img {
    flex: 1;
    display: flex;
    min-width: 400px;
    order: 1;
}

.form-img img {
    width: 100%;
    margin: auto;
    height: 300px;
}

.form-img div {
    padding: 10px;
}

.img-container div {
    background-color: white; 
    border-radius: 50%;
    text-align: center;
    padding: 40px;
}

.form textarea {
    min-height: 140px;
    resize: none;
}

.form input[type="submit"]:hover {
    background-color: blue;
    border-bottom: none;
    padding: 12px;
}

.form input[type="submit"]:focus {
    background: blue;
}
.form input[type="submit"]:active {
    background:  linear-gradient( to bottom,blue);
}

