div{
	font-family: 'Roboto Condensed', sans-serif;
}

.caja1{
	height: 200px;
	width: 200px;
	background: grey;
	transition: background 1s, height 0.2s, width 1s;
    border: 3px solid red;
}

.caja1:hover{
	background: yellow;
	height: 300px;
	width: 300px;
	border-color: blue;
}