.grid-container {
    background: #444;
    margin: 10px;
    display: grid;
    grid-template-rows: 
         [f-line]
         150px 
         [s-line]
         150px 
         [t-line]
         150px
         [f-line];
    grid-template-columns: 
        [linea-izquierda]
         150px 
         150px 
         150px
         [fin-del-main];
    border: 5px solid #000;
}

.grid-item {
    border: 1px solid #000;
    background: lightgrey;
}

.grid-item:first-child {
    background: red;
    grid-row: f-line / t-line;
    grid-column: linea-izquierda / fin-del-main; /* Es lo mismo que pusiara 1 / 4 */
}