body {
    margin: 0px;
    padding: 0px;
}

.container {
    padding: 30px;
    background: #86f;
    height: 400px;
    width: 100%;
    margin: 40px 0;
    background-image: url(https://www.wallpapertip.com/wmimgs/66-663149_high-resolution-free-space.jpg);
    background-size: cover; /* La propiedad CSS background-size especifica el tamaño de las imágenes de fondo */
    background-repeat: no-repeat; /* Sirve apra que no se reptea la caja */
    background-attachment: fixed; /* background-attachment determina si la posición de la imagen de fondo será fija dentro de la pantalla o se desplazará con su bloque contenedor */
    /* background-position: left top; rigth bottom */
    /* background-clip: border-box; La diferencia de background-origin es que clip la recorta la imagen y background la inicia desde el origen*/
    background-origin: content-box; /* Va a comenzar desde donde le indiquemos */
    border: 20px solid #f00 transparent;
}
