form{
	margin: 100px auto;
	display: block;
	background-color: #555;
    padding: 100px;
    width: 50%;
}

input{
	padding: 6px;
	width: 100%;
}

input::placeholder{
	color: red;
}

input::selection{
	background-color: yellow;
}

p::selection{
    background-color: brown;
    margin: 100px auto;
    color: orange;
}
