div{
    width: 1600px;
    height: 160px;
    display: block;
    background-color:yellow;
    font-size: 30px;
}

.caja1{
    background-color:red;
}

.caja2{
    background-color:green;
    position: relative;
    top: 50px;
    left: 20px;
    z-index: 3;
}

.caja3{
    background-color: blue;
    position: relative;

}

.caja4{
    background-color: yellow;
}