.contenedor{
    width: 300px;
    height: 300px;
    background:blue;
    position: relative;
    margin:40px;
}

.hijo{
    background-color: brown;
    height: 120px;
    width: 120px;
    position: relative;
    top: -20px;
    left: -20px;
    z-index: -1;
}