*{
    font-weight: 100;
    font-size: 30px;
}

h2{
    background-color: brown;
    display: inline-block;
    padding-bottom: 20px;
    padding-top: 20px;
    padding-left: 30px;
    padding-right: 30px;
}