.container {
	height: 300px;
	background: #86f;
	padding: 30px;
}

.caja {
	background: #047;
	height: 100px;
	width: 100px;
	transition-property: background; /* Sirve para que no ocupe mucho recursos y cargue rapido*/
	transition-duration: 1s; /* Sirve para que al pasar el mause por ensima el color dure y cambie 1 segundo*/
	transition-delay: 1s; /* Sirve para cuando pong el mouse encima tarde 3segundos en aparecer y en desaparecer*/
}

.caja:hover /* hover  sirve solo cuando el mouse esta encima*/ {
	background: lightgreen;
}