.caja {
	margin: 25px;
	width: 200px;
	height: 300px;
}

.caja img {
	height: 100%;
	width: 100%;
    border: 2px solid red;
    object-fit: cover;
    object-position: right;
}

/*{
	object-position: -4em;
}