body {
    background: radial-gradient(circle,#fff,#ccc);
    padding: 15px;
}

.gird-container {
    display: grid;
    grid-template-columns: repeat( /*auto-fit* sirve que cuando llega un punto no tienes ams elementos lo escala*/ /*auto-fill Lo que hace esto es generarme columnas que pueda*/3,150px/*sirve para darle un minimo y un maximo: minmax*//* min-content sirve par darle un contenido minimo*/);
    grid-template-rows: repeat(3,1fr);
    /*grid-auto-rows: 150px; La propiedad grid-auto-rows de CSS especifíca el tamaño de una nueva fila creada de forma implícita. Si el elemento de una grilla es ubicado en una fila que no tiene un tamaño explicitado en grid-template-rows , se crean filas implícitas en la grilla para ubicarlas.*/
    grid-auto-rows: 1fr ;
    grid-auto-columns: 1fr;
    border: 3px solid #000;
    background-color: #333;
    grid-auto-flow: dense; /*dense: sirve para rellenar las cajas;*/
    /*justify-items: center; start para poner al principio y end al final Sirve para centrar el item*/
    /*align-items: center; De esta forma lo centramos verticalmente*/
    justify-content: space-evenly;
    align-content: space-evenly;
    height: 600px;
    align-items: center;
    justify-items: center;
}

.grid-item {
    border: 1px solid #000;
    background-color: #999;
    font-size: 30px;
    padding: 50px;
}

.grid-item:first-child {
    align-self: start;/* En align trabajamos en el eje Y*/
    justify-self: start;/* En justify trabajamos con el eje X */
    background: red;
}

.grid-item:nth-child(4) {
    justify-self: end;
    order: 4;
}

.grid-item:nth-child(5) {
    background: blue;
}

.grid-item:nth-child(6) {
    justify-self: start;
}
.grid-item:nth-child(7) {
    place-self: end start;
    background: red;
}

.grid-item:nth-child(3) {
    place-self: start end;
    background: red;
} 

.grid-item:last-child {
    align-self: end;
    justify-self: end;
    background: red;
}