.header, .main, .aside, .footer {
	padding: 20px;
}

.content {
	display: flex;
	flex-direction: column; /* Sirve para comportarse como columna */
	height: 100vh;
}

.header {
	background: lightblue;
	flex-basis: 60px;
}

.main {
	background: slateblue;
	flex-basis: 300px;
    flex-basis: 300px;
	flex-shrink: 0;
}

.aside {
	background: darkslateblue;
	flex-basis: 200px;
	flex-grow: 1;
	flex-shrink: 0;
}

.footer {
	background: violet;
	flex-grow: 1;
}




@media screen and (min-width: 700px) {
	.content {
		display: grid;
		grid-template-rows: 80px 1fr 1fr 1fr 1fr 80px;
		grid-template-columns: repeat(3, 1fr);
	}

	.header {
		grid-column: 1 / span 3;
	}

	.main {
		grid-row: 2 / 6;
		grid-column: 1 / span 2;
	}

	.aside {
		grid-row: 2 / 6;
	}

	.footer {
		grid-row: 6 / 7;
		grid-column: 1 / span 3;
	}
}
