div{
    margin: auto;
    margin-top: 50px;
    width: 320px;
    height: 350px;
    border: 4px solid red ;
    background: grey;
    overflow: scroll; /* Obligartoriamente pone la barrita de navegacion asi no sea necesario */
    
    /* overflow: auto; esto detecta que en caso de que se sobresalga el texto podemos navegar dentro de el*/
    
    overflow-y: hidden; /* Sirve apra ocultar la barra */
}