.flex-container {
    display: flex;
    /* flex-wrap: wrap-reverse;
    flex-wrap:wrap;
    flex-direction: column;
    flex-direction: column-reverse;
    flex-wrap: columm-wrap;
    flex-flow: column wrap;
    flex-flow: wrap-reverse;
    flex-wrap: nowrap; */
    justify-content: space-evenly /*space-around*/ /*center*/ /*space-between*/;
    height: 100vh;
    /*align-items*/
    align-content: baseline /*flex-end*/ /*center*/ /*flex-start*/;
}

.flex-item{
    background: #248e;
    color: white;
    text-align: center;
    min-width: 150px;
    height: 100px;
    /*flex-grow: 1 /* lo que haces esto es que el espacio que 
    sobra lo divide y lo dap para cada una de las cajas dependiendo
    el numero */;
    flex: 1;
    width: 400px;
}

.orange{
    background: orange;
    /*flex-grow: 2 lo que haces esto es que el espacio que 
    sobra lo divide en este caso en tres partes 2 partes para orange y 
    1 parte para green*/;
    /*flex-basis: 400px; /* Es lo miso que width solo que es mas
    importante que el with*/
    /*flex-shrink: 0; /*flex-shrink: 2; /* sirve para seder espacio a las demas 
    cajas y que permita ajustarse tambien sirve elegir que caja
    va a seder menos espacio cuando no alcanse el lugar disponilbe*/
    flex: 1 0 350px;/* De esta forma le estamos diciendo que tenga 1-flex grow:1  2-flex-string:0  3-flex basic: 350px*/
    order: 3;/*Otro caso sirve para colocar en este caso como tiene order:3 ira seguando en el main axis*/
}

.blue{
    order: 20;/*Sirve para cambiar el orden de las cajas en este caso 20 ira primero ya que el main axis apunta ala dercha entonces ira
    primero ala derecha*/
}

.green {
    background: green;
}