body {
    background: radial-gradient(circle,#fff,#bbb);
    padding: 15px;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(250px,1fr));
    grid-auto-rows: 100px;
    grid-gap: 10px;
}

img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

img:first-child {
    grid-column: 1 / 3;
    grid-row: 1 / 3;
}

img:nth-child(6) {
    grid-column: 2 / 4;
    grid-row: 3 / 5;
}

img:nth-child(8) {
    grid-row: span 3;
}
