.caja1{
      width: 200px;
      height: 200px;
      background-color: red;
      margin:auto;
      outline: 10px solid blue;
}

.caja2{
      width: 200px;
      height: 200px;
      background-color: yellow;
      margin: auto;
}