body {
    background: radial-gradient(circle,#fff,#ccc);
    padding: 20px;
}

.gird-container {
    display: grid;
    grid-template-columns: repeat(3,150px /* Esto sirve para que repita dependiendo la cantidad en esta caso repite tres veces 150px*/)1fr;/*La fr sirve para ajustar cuando la pagina se encoja o se agrende i px solo los agranda o los achica*/
    grid-template-rows: 150px 150px 150px;
    border: 3px solid #000;
    grid-gap: 10px; /*Sirve para separar 10 entre ellas no del contenedor*/
    grid-row-gap: 10px; /*Sirve solo para separas las filas*/
    grid-column-gap: 20px;/*Sirve para separar las columnas*/
    background-color: #333;
}

.grid-item {
    border: 1px solid #000;
    background-color: #999;
}

.grid-item:first-child {
    background: #900;
    grid-column: 1 / span 2; /*Sirve para mover o hacer que ocupen mas espacion*/ 
    grid-row: 1 / span 2;  /*Aqui le estanos diciedno qeu ocupe desde la liena 1 hasta la tres en fila*/
    /*grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1; /*Es lo mismo que grid row
    grid-row-end: 3; /*Es lo mismo que grid row*/
}

.grid-item:nth-child(2) {
    background: yellow;
    grid-column: 3/5; /* Aqui le estamos diciendo que ocupe desde la lines 3 hasta la 5 en colummna*/
    grid-row: 1/3; /*Aqui le estanos diciedno que ocupe desde la liena 1 hasta la tres en fila*/
}