.contenedor{
    margin: auto;
    margin-top: 50px;
    border: 4px solid blue;
    background: grey;
    width: 50%;
}

.contenedor{
    width: 50%;
    height: 700px;
    font-size: 2em;
}

.contenedor img{
    float: right;
}
 
img{
     width: 400px;
     height: 300px;
     margin-left: 18px;
     padding: 20px;
 }
